#slider-text{
  padding-top: 40px;
  display: block;
}
#slider-text .col-md-6{
  overflow: hidden;
}

#slider-text h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 3px;
  margin: 30px auto;
  padding-left: 40px;
}
#slider-text h2::after{
  border-top: 2px solid #c7c7c7;
  content: "";
  position: absolute;
  bottom: 35px;
  width: 100%;
  }

#itemslider h4{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 10px auto 3px;
}
#itemslider h5{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
  margin: 3px auto 2px;
}
#itemslider h6{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;;
  font-size: 10px;
  margin: 2px auto 5px;
}
.badge {
  background: #b20c0c;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 31px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  border: 2px solid #FFF;
  box-shadow: 0 0 0 1px #b20c0c;
  top: 5px;
  right: 25%;
}
#slider-control img{
  padding-top: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 992px){
#slider-control img {
  padding-top: 70px;
  margin: 0 auto;
}
}

.carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
  margin-left: 5px;
}
.carousel-showmanymoveone .carousel-control.right {
  margin-right: 5px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
  display: none;
}
@media all and (min-width: 768px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -16.666%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 16.666%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3,
  .carousel-showmanymoveone .carousel-inner .cloneditem-4,
  .carousel-showmanymoveone .carousel-inner .cloneditem-5,
  .carousel-showmanymoveone .carousel-inner .cloneditem-6  {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(16.666%, 0, 0);
    transform: translate3d(16.666%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-16.666%, 0, 0);
    transform: translate3d(-16.666%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}

@font-face {
    font-family: 'TheSeasons'; /* Specify the font family name */
    src: url('/fonts/Fontspring-DEMO-theseasons-reg.otf') format('opentype'); /* Path to your font file */
    /* You can also include font-weight and font-style if applicable */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'TTCommons'; /* Specify the font family name */
    src: url('/fonts/Fontspring-DEMO-tt_commons_pro_expanded_regular.otf') format('opentype'); /* Path to your font file */
    /* You can also include font-weight and font-style if applicable */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'TTCommons-bold'; /* Specify the font family name */
    src: url('/fonts/Fontspring-DEMO-tt_commons_pro_expanded_bold.otf') format('opentype'); /* Path to your font file */
    /* You can also include font-weight and font-style if applicable */
    font-weight:bold;
    font-style:normal;
  }


    .main-logo {
      height: 65px;
      width: auto; /* To maintain aspect ratio */
      
    }
    .mini-logo {
      height: 50px;
    }

    /* Media queries */
@media (max-width: 999px) and (min-width: 600px) {
  .main-logo {
    height: 90px;
  }
}

@media (min-width: 1280px) {
  .main-logo {
    height: 120px;
  }
}

@media (min-width: 1440px) {
  .main-logo {
    height: 150px;
  }
}

    
  

  body {
    background-image: url('/images/creambrownbg.png');
    background-color: #ad9e8e; /* Fallback color if the image fails to load */
    background-size: cover; /* Cover the entire screen */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-attachment: fixed; /* Keeps the background fixed while scrolling */
    /* You can adjust other properties based on your design needs */
  }

  .TTCommons {
    font-family: TTCommons;
  }

  .TTCommons-bold {
    font-family: TTCommons-bold ;
  }

  .TheSeasons {
    font-family: TheSeasons;
  }

  .text-brown {
    color: #69443C;
  }

  .bg-brown {
    background-color: #69443C;
  }

  .text-lightbrown {
    color: #ad9e8e;
  } 

  .bg-lightbrown {
    background-color: #ad9e8e;
  }

  .text-lighterbrown {
    color: #beb3a8;
  } 

  .border-lighterbrown {
    border-color: #beb3a8;
  } 

  .bg-lighterbrown {
    background-color: #beb3a8;
  } 


  .text-lightestbrown {
    color: #dad4cd;
  } 

  .bg-lightestbrown {
    background-color: #dad4cd;
  } 

  .text-cream {
    color: #e9e5e0;
  }

  .bg-cream {
    background-color: #e9e5e0;
  }

  .brightness-50:hover {
    filter: brightness(50%);
  }

  .h-100-car{
    height: 50rem;
  }

  
  /* CSS for the animate-box class */
.animate-box {
  /* Define initial state */
  opacity: 0;
  transform: translateY(20px);
  /* Define transition */
  transition: opacity 2.5s ease, transform 2.5s ease;
}

/* Additional styles for when the element is in an animated state */
.animate-box.animated {
  opacity: 1;
  transform: translateY(0);
}

.transition-max-h {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out; /* Adjust the duration and easing as needed */
}

.h-car {
  height: 25rem;
}


